[user]
	name = Rodrick Unborn
	email = 2484501+nonatorw@users.noreply.github.com
{{- $variantID := index .chezmoi.osRelease "variantID" | default "" -}}
{{- if or (eq $variantID "bluefin") (eq $variantID "bluefin-dx") }}
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret

[gpg]
	format = ssh

[gpg "ssh"]
	program = /usr/lib/1password/op-ssh-sign

[commit]
	gpgsign = true

[core]
	editor = code --wait
{{- else if .chezmoi.kernel.osrelease | lower | contains "microsoft" }}
[gpg]
	format = ssh

[gpg "ssh"]
	program = /mnt/c/Users/nonat/AppData/Local/Microsoft/WindowsApps/op-ssh-sign-wsl.exe
	defaultKeyCommand = ssh-add -L

[commit]
	gpgsign = true

[core]
	editor = code --wait
{{- else }}
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret

[core]
	editor = code --wait
{{- end }}
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
